@font-face {
    font-family: "Helvetica";
    src: url('../../fonts/regular.otf');
}

@font-face {
    font-family: "HelveticaItalic";
    src: url('../../fonts/italic.ttf');
}

@font-face {
    font-family: "HelveticaMedium";
    src: url('../../fonts/medium.otf');
}

@font-face {
    font-family: "HelveticaLight";
    src: url('../../fonts/light-lt.otf');
}

@font-face {
    font-family: "HelveticaLightItalic";
    src: url('../../fonts/light-italic.ttf');
}

@font-face {
    font-family: "HelveticaBold";
    src: url('../../fonts/bold.otf');
}

@font-face {
    font-family: "HelveticaBoldItalic";
    src: url('../../fonts/bold-italic.ttf');
}

@font-face {
    font-family: "HelveticaExtraLight";
    src: url('../../fonts/xlight.otf');
}

* {
    font-family: "Helvetica" !important;
}

.ft-ita {
    font-family: "HelveticaItalic" !important;
}

.ft-light {
    font-family: "HelveticaLight" !important;
}

.ft-bold {
    font-family: "HelveticaBold" !important;
}

.ft-light-ita {
    font-family: "HelveticaLightItalic" !important;
}

.ft-bold-ita {
    font-family: "HelveticaBoldItalic" !important;
}

.ft-medium {
    font-family: "HelveticaMedium" !important;
}

.ft-xlight {
    font-family: "HelveticaExtraLight" !important;
}